<h1>Dette er siden min</h1>
<p>dEn er så vakker</p>
<p><b>Hvor vakker er den: ps det er bare et svar ;)</b></p>

<form action="get">
    <input type="text" placeholder="Skriv svar her">
    <input type="button" value="">
</form>

<p>Du vet svaret</p>

